<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aCMETransaction">
            <h2><span>ACME Transaction</span> {{aCMETransaction.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Account Number</span></dt>
                <dd>
                    <span>{{aCMETransaction.accountNumber}}</span>
                </dd>
                <dt><span>Transaction Date</span></dt>
                <dd>
                    <span>{{aCMETransaction.transactionDate}}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{aCMETransaction.amount}}</span>
                </dd>
                <dt><span>Transaction Remark</span></dt>
                <dd>
                    <span>{{aCMETransaction.transactionRemark}}</span>
                </dd>
                <dt><span>Transaction Type</span></dt>
                <dd>
                    <span>{{aCMETransaction.transactionType}}</span>
                </dd>
                <dt><span>Available Balance</span></dt>
                <dd>
                    <span>{{aCMETransaction.availableBalance}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acme-transaction', aCMETransaction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
